{% extends 'base.html' %}
{% block title %}Change password{% endblock title %}
{% block content %}
{% load static %}
<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
<div class="form-group">
             <label>New Password</label>
            <input type="password" name="new_password1" autocomplete="new-password"required id="id_new_password1" placeholder="Enter New Password"/>
              <span>
              </span>
               <label>New Password Confirmation</label>
               <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirm New Password"/>
              <button type="submit" id="reset">Update Password</button>
	      <label>New Password</label>
	      <input type="password" name="new_password1" autocomplete="new-password" placeholder="Enter New Password"/><span></span>
              <label>New Password Confirmation</label>
	      <input type="password" name="new_password2" autocomplete="new-password" placeholder="Confirm New Password"/>
              <button type="submit" id="reset">Update Password</button>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
