{% extends 'base.html' %}
{% block title %}Register Account{% endblock title %}
{% block content %}
{% load static %}
<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <form autocomplete="off" class="sign-in-form" method="post">
          <div class="logo">
            <img src={% static 'img/logo.png' %} alt="Autobug" />
            <h4>AutoBug</h4>
          </div>

          <div class="heading">
            <h2>Welcome Back</h2>
            <h6>Not registered yet?</h6>
            <a href="#" class="toggle">Sign up</a>
          </div>

          <div class="actual-form">
          <div class="input-wrap">
            {{ form.username }}
            <label>Username</label>
            </div>
            <div class="input-wrap">
              {{ form.password }}
              <label>Password</label>
              </div>
            {% csrf_token %}
            <input type="submit" value="Sign In" class="sign-btn" />

            <p class="text">
              Forgotten your password or your login details?
              <a href="#">Get help</a> signing in
            </p>
          </div>
        </form>

        <form autocomplete="off" class="sign-up-form" method="post">
          <div class="logo">
            <img src={% static 'img/logo.png' %} alt="Autobug" />
            <h4>Autobug</h4>
          </div>

          <div class="heading">
            <h2>Get Started</h2>
            <h6>Already have an account?</h6>
            <a href="#" class="toggle">Sign in</a>
          </div>

          <div class="actual-form">
            <div class="input-wrap">
            {{ register_form.username }}
            <label>Username<label/>
            </div>
            <div class="input-wrap">
              {{ register_form.first_name }}
              <label>First Name</label>
              </div>
            <div class="input-wrap">
              {{ register_form.last_name }}
              <label>Last Name</label>
              </div>
              <div class="input-wrap">
              {{ register_form.email }}
              <label>Email</label>
              </div>
              <div class="input-wrap">
              {{ register_form.password }}
              <label>Password</label>
              </div>
              <div class="input-wrap">
              {{ register_form.password2 }}
              <label>Password</label>
              </div>
            {% csrf_token %}
            <input type="submit" value="Sign Up" class="sign-btn" />

            <p class="text">
              By signing up, I agree to the
              <a href="#">Terms of Services</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </div>
        </form>
      </div>

      <div class="carousel">
        <div class="images-wrapper">
          <img src= {% static 'img/image1.png' %} class="image img-1 show"
          alt="" /> <img src={% static 'img/image2.png' %} class="image img-2"
          alt="" /> <img src={% static 'img/image3.png' %} class="image img-3"
          alt="" />
        </div>

        <div class="text-slider">
          <div class="text-wrap">
            <div class="text-group">
              <h2>Create your own courses</h2>
              <h2>Customize as you like</h2>
              <h2>Invite students to your class</h2>
            </div>
          </div>

          <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2"></span>
            <span data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
